:root {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    --main-color: #19c8fa;
    --secondary-color: #1f2021;
    --transparent-color: rgb(39 126 152 / 70%);
    --section-padding: 100px;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.section {
    padding: 44px;
}

.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 35px;
    margin-bottom: 35px;
    text-transform: uppercase;
    position: relative;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 130px;
    background-color: var(--secondary-color);
    bottom: -15px;
}

.main-heading h2::after {
    content: "";
    height: 15px;
    width: 15px;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -15px;
    z-index: 2;
    background-color: white;
    transform: translate(-50%, 50%);

}

.main-heading p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    color: #afafaf;
    line-height: 2;
}

header {
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media (max-width: 767px) {
    header .container .logo img {
        width: 145px;
    }
}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #726f71;
    bottom: 0px;
    left: 15px;
}

header nav {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav .toggle-menu {
    color: white;
    font-size: 20px;
    height: 100%;
}


@media (min-width: 992px) {
    header nav .toggle-menu {
        display: none;
    }
}

header nav ul {
    display: flex;
}

@media (max-width: 992px) {

    header nav ul {
        display: none;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0 0 0 / 50%)
    }

    header nav ul li a {
        padding: 24px 15px;
    }
}

header nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: color .6s;
    padding: 48px 15px;
    position: relative;
    z-index: 2;
    letter-spacing: 1px;
}

header nav a.active,
header nav a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50px;
    height: 35px;
    margin-top: 5px;
    margin-left: 40px;
    color: white;
    font-size: 20px;
    border-left: 1px solid white;
}

.landing {
    min-height: 100vh;
    background-image: url("../images/landing.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: var(--secondary-color);
    position: relative;
}

.landing .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 25%);
}

.landing .text {
    position: absolute;
    background-color: var(--transparent-color);
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 25px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .landing .text {
        width: 100%;
        justify-content: center;
    }
}

.landing .text .content {
    max-width: 500px;
}

.landing .text .content h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 20px;
}

.landing .text .content p {
    line-height: 2;
    font-size: 17px;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
}

@media (max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .change-background.left {
    left: 10px;
}

.landing .change-background.right {
    right: 10px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 60px;
}

.landing .bullets li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.landing .bullets .active {
    background-color: var(--main-color);
}

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width: 768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
        grid-column-gap: 45px;
        grid-row-gap: 80px;
    }
}

.services .srv-box {
    display: flex;
}

.services i {
    font-size: 35px;
    margin-right: 35px;
}

@media (max-width: 767px) {
    .services .srv-box {
        flex-direction: column;
        text-align: center;
        margin-bottom: 80px;
    }

    .services .srv-box i {
        margin: 15px 0px;
    }
}

.services .text h3 {
    color: var(--main-color);
    margin-bottom: 15px;
    margin-top: 10px;
}

.services .text p {
    color: #afafaf;
    line-height: 2;
}

.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 530px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    overflow: hidden;
}


.design .image {
    text-align: center;
}


.design .image img {
    position: relative;
    bottom: -85px;
}

@media (max-width: 767px) {
    .design {
        flex-direction: column;
        height: 930px;
    }

    .design .image img {
        bottom: 42.5px;
    }
}

.design .text {
    color: white;
    background-color: var(--transparent-color);
    padding: 25px;
}

.design .image,
.design .text {
    flex-grow: 2;
}

.design .text h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
}

.design .text li {
    margin: 20px 0;
}


.design .text li::before {
    font-family: 'Font Awesome 6 Free';
    content: '\e163';
    font-weight: 900;
    margin-right: 10px;
    position: relative;
    top: 1px;
}

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .shuffle li {
    padding: 10px 15px;
    border-bottom: 1px solid var(--main-color);
}

.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
}

.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0px;
}

.portfolio .imgs-container .box:hover img {
    transform: rotate(6deg) scale(1.2);
}

@media (min-width: 768px) {
    .portfolio .imgs-container .box {
        flex-basis: calc(50% - 2px);
    }
}

@media (min-width: 1199px) {
    .portfolio .imgs-container .box {
        flex-basis: calc(25% - 2px);
    }
}

.portfolio .imgs-container .box img {
    width: 100%;
    transition: .4s;
}

.portfolio .imgs-container .box .caption {
    position: absolute;
    background-color: white;
    padding: 20px;
    width: 100%;
    transition: .4s;
    bottom: -100%;
}

.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 15px;

}

.portfolio .imgs-container .box .caption p {
    color: var(--main-color);
}

.portfolio .more {
    display: block;
    width: fit-content;
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    margin: 20px auto;
}

.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 20%);
}

.video video {
    width: 100%;
}

.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
}

.video .text h2 {
    font-weight: normal;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.video .text p {
    margin-bottom: 35px;
}

@media (max-width: 768px) {
    .video .text {
        padding: 15px;
    }

    .video .text h2,
    .video .text p {
        margin-bottom: 15px;
    }
}

.video .text button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
}

.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    position: relative;
    text-align: center;
}

.about img {
    position: relative;
    margin-top: -120px;
    bottom: -120px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .about img {
        margin-top: -120px;
        bottom: -60px;
    }
}

.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--secondary-color);
    text-align: center;
}

.stats .container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--transparent-color);
}

.stats .box {
    padding: 50px;
    color: white;
    width: 25%;
}

@media (max-width: 767px) {
    .stats .box {
        flex-basis: 100%;
        border-bottom: 1px solid #726f71;
    }
}

@media (min-width: 768px) {
    .stats .box {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .stats .box {
        flex-basis: 25%;
    }
}

.stats .box i {
    font-size: 35px;
    margin-bottom: 20px;
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 50%;
}

.stats .box .number {
    font-size: 55px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.stats .box p {
    font-size: 17px;
}

.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .our-skills .container>div {
        flex-basis: 45%;
    }
}

.our-skills .container>div h2 {
    margin-bottom: 20px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.our-skills .container>div>p {
    color: #afafaf;
    text-align: center;
    margin-bottom: 40px;
    line-height: 2;
}

/* 
.our-skills .testimonials .content {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.our-skills .testimonials .content .box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.our-skills .testimonials .content img {
    border-radius: 50%;
    width: 80px;
    margin-right: 60px;
    margin-top: -15px;
}

@media (max-width: 767px) {
    .our-skills .testimonials .content .box {
        flex-direction: column;
        text-align: center;
    }

    .our-skills .testimonials .content img {
        margin: 0 auto 30px;
    }

}

.our-skills .testimonials .box .text {
    line-height: 1.2;
    border-bottom: 1px solid #726f71;
}

.our-skills .testimonials .box .text .name {
    color: #afafaf;
    text-align: right;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.our-skills .testimonials .bullets {
    display: flex;
    justify-content: space-between;
    width: 55px;
    margin: 10px auto;
}

.our-skills .testimonials .bullets li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.our-skills .testimonials .bullets .active {
    background-color: var(--main-color);
}

.our-skills .prog-holder {
    margin-bottom: 60px;
}

.our-skills .prog-holder h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

.our-skills .prog-holder .prog {
    background-color: #afafaf;
    height: 25px;
}

.our-skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    width: 100px;
    position: relative;
}

.our-skills .prog-holder .prog span::before {
    content: attr(data-progress);
    color: white;
    position: absolute;
    right: -20px;
    top: -30px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 2px 4px;
}

.our-skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    top: -10px;
    right: -8px;
    border-width: 9px;
    border-style: solid;
    border-color: var(--secondary-color) transparent transparent transparent;
}